body {
    font-family: "Arial";
}

.main-image {
    border: solid 4px black;
    border-radius: 50%;
}

h1 {
    background-color: #e2e2e2;
    padding: 5px;
}

 .section-title {
    text-align: center;
    text-transform: uppercase;
    border-radius: 45px;
background: #e0e0e0;
box-shadow:  24px 30px 42px #afafaf,
             -24px -24px 42px #ffffff;
 }

 .resume-title {
    border-radius: 52px;
background: #e0e0e0;
box-shadow: inset 24px -24px 42px #afafaf,
            inset -24px 24px 42px #ffffff;
 }

 body {
    background-image: url('https://cdn.discordapp.com/attachments/549827077474615297/1140504231745433732/WebsiteBackgroundResume_1.jpg');
    color: #FFFFFF;
}

.journey-title {

}
